.faq h2 {
  text-align: center;
  margin-bottom: 20px;
}
.faq p {
  text-align: center;
  justify-content: center;
  align-items: center;

  color: #757575;
}

.faq ul {
  list-style: none;
  padding: 0;
  margin-top: 118px;
}

.faq li {
  margin: 10px 0;
}

.faq summary {
  cursor: pointer;
  font-weight: bold;
}
