* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
  list-style: none;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background-color: #fff;
  margin: 20px 40px;
  border-radius: 5px;
}

.homePage {
  background-color: #faf8f8;
  padding: 10px 10px;
}
.myBreadcrumb > * {
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav {
  display: flex;
  justify-content: space-between;
}

.content {
  margin-top: 10px;
}

.flex {
  display: flex;
  gap: 5px;
}

.flex-col {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.center-between {
  justify-content: space-between;
  align-items: center;
}

.overflow-hidden {
  overflow: hidden;
  height: auto;
}

.hidden {
  height: 0px;
}

.open {
  height: auto;
}

.transition {
  transition: height 2s;
}

.my-card > * {
  transition: height 2s;
}

@media (max-width: 480px) {
  .myBreadcrumb {
    font-size: 12px;
    gap: 0px;
    display: flex;
    flex-direction: column;
  }
  .mainImage {
    width: 12rem;
    height: auto;
  }
  p {
    font-size: 0.8rem;
  }
  .layer {
    width: 6rem;
    height: auto;
  }
}
@media (max-width: 550px) {
  .myAccordion,
  .myTabs {
    display: none;
  }
}
/* Mobile */
@media (max-width: 750px) {
  .myImages {
    display: none;
  }
  .myBreadcrumb {
    font-size: 12px;
    gap: 0px;
  }
  .myButton {
    width: 1rem;
    height: auto;
    font-size: 9px;
  }
  h2 {
    font-size: 1.2rem;
  }
  .myAccordion {
    max-width: 100px;
    height: auto;
  }
  .images {
    max-width: 16px;
    height: auto;
  }
  .icons {
    margin-right: 10px;
    margin-top: 20px;
  }
}

/* Tablet and Smaller Desktop */
@media (min-width: 801px) and (max-width: 1120px) {
}
